[submodule "pebblekit"]
	path = pebblekit
	url = https://github.com/lkorth/pebblekit.git
	ignore = dirty
[submodule "ActionBarSherlock"]
	path = ActionBarSherlock
	url = https://github.com/JakeWharton/ActionBarSherlock.git
	ignore = dirty
